/* bcca_blue #81D3F1 */

/* bcca_brown #3B1B0C */

* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    color: #81d3f1;
}

.about {
    display: flex;
    flex-direction: column;
}

.site-nav {
    background-color: #3b1b0c;
}

.site-nav-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.site-nav-item {
    list-style: none;
}

.site-nav-link {
    display: inline-block;
    padding: 0.75rem;
    color: rgb(157, 157, 157);
    text-decoration: none;
}

.site-nav-link:hover {
    color: white;
}

.header-logo-container {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgb(180, 180, 180);
    background-image: url(/images/header-background.jpg);
    background-position: center center;
}

.header-logo-image {
    padding: 2rem;
}

.main-content {
    padding: 1.25rem;
}

@media (min-width: 1000px) {
    .main-content {
        margin: 0 10%;
    }
}

@media (min-width: 600px) {
    .main-content > * > * {
        padding: 0.6rem;
    }
}

.class-picture {
    max-width: 100%;
    margin: auto;
    display: block;
}

footer {
    border-top: 1px solid rgb(200, 200, 200);
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1000px) {
    footer {
        margin: 0 10%;
    }
}

footer > * {
    padding: 1.25rem;
}

.social-links {
    list-style: none;
    display: flex;
}

#steps-list {
    list-style: none;
}

@media (min-width: 1000px) {
    #steps-list {
        width: 80%;
    }
}

@media (min-width: 1500px) {
    #steps-list {
        width: 60%;
    }
}

#what-it-takes li {
    padding: 1.2rem 0;
}

@media (min-width: 600px) {
    #what-it-takes li {
        padding: 1.2rem;
    }
}

.sponsors-group {
    margin-bottom: 1.5rem;
    border-bottom: 0.5px solid #ccc;
}

.sponsors-group > * {
    border: 0.5px solid #ccc;
    border-bottom: none;
}

.sponsors-group > h1 {
    background-color: #eaeaea;
    border-radius: 1rem 1rem 0 0;
    border: 0.5px solid #ccc;
    border-bottom: none;
}

.sponsor {
    display: flex;
}

@media (max-width: 600px) {
    .sponsor {
        flex-direction: column;
    }
}

.sponsor-header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsor-copy {
    flex: 3;
}

.sponsor-copy > p {
    padding-bottom: 0.9rem;
}

#community-sponsors {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

@media (max-width: 600px) {
    #community-sponsors {
        flex-direction: column;
        align-items: center;
    }

    .community-sponsor {
        padding-bottom: 2rem;
    }
}

.community-sponsor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

#newsletters-list {
    list-style: none;
}

#press-list {
    list-style: none;
}

#newsletters-list > li {
    padding-bottom: 0.5rem;
}

#press-list > li {
    padding-bottom: 0.5rem;
}

.portfolio-list {
    list-style: none;
}

.student-portfolios {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-group {
    padding-right: 3rem;
}
