/* bcca_blue #81D3F1 */

/* bcca_brown #3B1B0C */

* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    color: #81d3f1;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

.site-nav {
    background-color: #3b1b0c;
}

.site-nav-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.site-nav-item {
    list-style: none;
}

.site-nav-link {
    display: inline-block;
    padding: 0.75rem;
    color: rgb(157, 157, 157);
    text-decoration: none;
}

.site-nav-link:hover {
    color: white;
}

.header-logo-container {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgb(180, 180, 180);
    background-image: url(/images/header-background.jpg);
    background-position: center center;
}

.header-logo-image {
    padding: 2rem;
}

.main-content {
    padding: 1.25rem;
}

@media (min-width: 1000px) {
    .main-content {
        margin: 0 10%;
    }
}

.main-content > * > * {
    padding: 0.6rem;
}

.class-picture {
    max-width: 100%;
    margin: auto;
    display: block;
}

footer {
    border-top: 1px solid rgb(200, 200, 200);
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1000px) {
    footer {
        margin: 0 10%;
    }
}

footer > * {
    padding: 1.25rem;
}

.social-links {
    list-style: none;
    display: flex;
}

#steps-list {
    list-style: none;
}

@media (min-width: 1000px) {
    #steps-list {
        width: 80%;
        margin: auto;
    }
}

@media (min-width: 1500px) {
    #steps-list {
        width: 60%;
    }
}

#what-it-takes {
    padding-top: 3rem;
}

#what-it-takes li {
    padding: 1.2rem;
    text-align: center;
}

#what-it-doesnt-take {
    padding: 3rem;
}
